<h1>Ajouter une salle</h1>
<form class="form" #formRoom="ngForm" (ngSubmit)="submit(formRoom)" novalidate>
  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input matInput type="email" name="name" [(ngModel)]="room.name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Prix</mat-label>
    <input matInput type="text" name="price" [(ngModel)]="room.price" [formControl]="priceValidator" />
    <mat-error>Champ obligatoire</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nombre de places</mat-label>
    <input matInput type="number" name="seat" [(ngModel)]="room.seatCount" required />
    <mat-error>Champ obligatoire</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Image</mat-label>
    <mat-select name="image" [(ngModel)]="room.image">
      <mat-option *ngFor="let pic of pictures" [value]="pic.id">{{pic.image}}</mat-option>
    </mat-select>
    <mat-error>Champ obligatoire</mat-error>
  </mat-form-field>

  <div>
    <button mat-button type="submit" [disabled]="formRoom.invalid">Enregistrer</button>
  </div>
</form>