<mat-toolbar color="primary" class="flex-container">
  <div>
    <span>{{title}}</span>
    <a routerLink="/home" mat-button>
      <mat-icon class="mat-18">home</mat-icon>
      Accueil
    </a>
    <a [routerLink]="['/rooms/list']" mat-button>
      <mat-icon class="mat-18">room</mat-icon>
      Salles
    </a>
    <a routerLink="/rooms/create" mat-button>
      <mat-icon class="mat-18">add</mat-icon>
      Ajouter
    </a>
  </div>
  <div>
    <ng-container *ngIf="user == null; else log">
      <a routerLink="/authentication/login" mat-button>
        <mat-icon class="mat-18">locked_out</mat-icon>
        Login
      </a>
    </ng-container>
    <ng-template #log>
      Bonjour {{user?.login}}
      <button mat-button [matMenuTriggerFor]="menuRef">
        <mat-icon class="mat-18">more_vert</mat-icon>
      </button>
    </ng-template>
    <mat-menu #menuRef="matMenu" x-position="after" y-position="below" [overlapTrigger]="false">
      <a href="" mat-menu-item>
        <mat-icon class="mat-18">person</mat-icon>
        Profile
      </a>
      <button mat-menu-item (click)="logout()">
        <mat-icon class="mat-18">locked_in</mat-icon>
        Logout
      </button>
    </mat-menu>


  </div>
</mat-toolbar>

<router-outlet></router-outlet>
<router-outlet name="ro2"></router-outlet>

<footer>
  <app-room-top-five></app-room-top-five>
</footer>